html, body {
    overflow: hidden;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(22, 22, 22, 0.8);
    z-index: 50000 !important;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Roboto';
}

.vertical-align-middle {
    vertical-align: middle;
}

/* Selection Style */
::selection {
    background-color: #7562E0;
    color: #ffffff;
}

/* Scrollbar Style */
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #ebebeb;
}

::-webkit-scrollbar-thumb {
    background: #7562E0;
    border-radius: 4px;
}

.font-inter {
    font-family: 'Inter';
}

.font-weight-medium {
    font-weight: 500;
}

.bg-color-1 {
    background-color: #7562E0;
}

.color-1 {
    color: #7562E0;
}

.color-2 {
    color: #111827;
}

.color-3 {
    color: #6b7280;
}

/* ==== Navbar ==== */
.navbar-brand {
    color: #7562E0 !important;
    font-family: 'Inter';
}

.nav-item {
    padding-right: 7px;
}

.nav-item .active {
    color: #7562E0 !important;
}

.nav-item .active::after {
    content: '';
    display: block;
    border-bottom: 1px solid #7562E0;
    width: 50%;
    margin: auto;
}

.nav-link {
    color: #6b7280 !important;
}

.nav-link:hover {
    color: #7562E0 !important;
}

.triangle-up::after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    width: 0;
    height: 0;
    border-left: 13px solid transparent;
    border-right: 11px solid transparent;
    border-bottom: 11px solid #7562E0;
    margin-left: 25px;
    margin-top: -10px;
}

.nav-item.show .nav-link {
    color: #7562E0 !important;
}

.nav-item.show .dropdown-menu {
    min-width: 0px;
    background-color: #7562E0;
    color: #ffffff;
    border: 0;
    border-radius: 4px;
    margin-top: 3px;
}

.nav-item.show .dropdown-menu a {
    color: #ffffff;
    font-size: 15px;
}

.nav-item.show .dropdown-menu a:hover {
    background-color: #ffffff;
    color: #7562E0;
}

.nav-item.show .dropdown-item {
    border: 2px solid #7562E0;
    border-radius: 4px;
}

.nav-item.show .dropdown-item.selected-lang {
    background-color: #ffffff;
    color: #7562E0;
    border-radius: 4px;
}

/* ==== Padding Per Page ==== */
.skill-heading,
.experience-heading,
.portofolio-heading,
.contact-heading,
.testimonial-heading {
    padding-top: 65px;
}

/* ==== Jumbotron ==== */
.jumbotron {
    background-color: #f6f7fb;
    height: 100vh;
}

.jumbotron .list-contact a {
    text-decoration: none;
}

.jumbotron .list-contact span {
    font-size: 15px;
}

.jumbotron .list-contact .icon {
    font-size: 17px;
    vertical-align: middle;
}

.btn-socmed {
    margin-right: 10px;
    font-size: 20px;
}

.btn-socmed:hover {
    color: #7562E0;
    transition: all 0.3s;
}

.btn-jumbotron {
    font-size: 18px;
    box-shadow: 0px 3px 9px rgba(126, 34, 206, 0.5);
}

.btn-explore:hover {
    box-shadow: 0px 3px 15px rgb(126, 34, 206, 0.5);
}

.btn-explore:active {
    box-shadow: 0px 0px 0px rgb(126, 34, 206, 0.5);
}

/* ==== Profile ==== */
#profile {
    background-color: #7562E0;
    color: #ffffff;
}

/* ==== Skill ==== */
.skill-html {
    line-height: 1px;
    color: #e34c26;
}

.skill-css {
    line-height: 1px;
    color: #264de4;
}

.skill-bootstrap {
    line-height: 1px;
    color: #7211f5;
}

.skill-js {
    line-height: 1px;
    color: #ffc107;
}

.skill-vuejs {
    color: #41B883;
}

.skill-python {
    line-height: 1px;
    color: #306998;
}

.tools-linux {
    line-height: 1px;
    color: #0b57a4
}

.tools-vscode {
    line-height: 1px;
    color: #0078d7;
}

.tools-git {
    line-height: 1px;
    color: #f34f29;
}

.skill-tools-progress {
    background-color: #ebebeb;
}

.progress-bar-html {
    background-color: #e34c26;
}

.progress-bar-css {
    background-color: #264de4;
}

.progress-bar-bootstrap {
    background-color: #7211f5;
}

.progress-bar-js {
    background-color: #ffc107;
}

.progress-bar-vuejs {
    background-color: #41B883;
}

.progress-bar-python {
    background-color: #306998;
}

.progress-bar-linux {
    background-color: #0b57a4;
}

.progress-bar-vscode {
    background-color: #0078d7;
}

.progress-bar-git {
    background-color: #f34f29;
}

/* ==== Experience ==== */
.experience-card {
    box-shadow:
        0 1px 3.2px rgba(0, 0, 0, 0.028),
        0 2.6px 8.8px rgba(0, 0, 0, 0.04),
        0 6.3px 21.1px rgba(0, 0, 0, 0.052),
        0 21px 70px rgba(0, 0, 0, 0.08);
}

/* ==== portofolio ==== */
.portofolio-image-wrapper {
    position: relative;
}

.portofolio-img {
    border-radius: 10px;
}

.portofolio-img-overlay {
    position: absolute;
    border-radius: 10px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #7562E0;
}

.portofolio-image-wrapper:hover .portofolio-img-overlay {
    opacity: 0.8;
    cursor: pointer;
}

.portofolio-text-overlay {
    font-size: 20px;
    position: absolute;
    top: 45%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}

.portofolio-categories-overlay {
    font-size: 14px;
    position: absolute;
    top: 61%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}

.portofolio-modal-tag {
    border: 1px solid #7562E0;
    border-radius: 5px;
}

.portofolio-modal-btn {
    background-color: #7562E0;
}

/* Testimoni */
.splide__arrow {
    font-size: 18px;
    background-color: #7562E0;
    color: white;
    border: 2px solid #7562E0;
    opacity: 100 !important;
    transition: 0.2s ease-out;
}

.splide__arrow:hover {
    background-color: transparent;
    color: #7562E0;
    transition: 0.2s ease-out;
}

.splide__arrow:active {
    background-color: #7562E0;
    color: white;
    border: 2px solid #7562E0;
    opacity: 100 !important;
    transition: 0.2s ease-in-out;
}

.splide__pagination__page {
    background-color: #be8ee9;
}

.splide__pagination__page.is-active {
    background-color: #7562E0;
    opacity: 100;
}

.testimonial-card {
    border: 2px solid #7211f5;
}

.user-avatar-img {
    width: 100px;
}

.quotation-symbol {
    width: 60px;
    opacity: 0.2;
    margin-left: -15px;
}

/* ==== Contact ==== */
.contact-card {
    background-color: #7562E0;
    color: white;
}

.contact-card-content {
    padding-top: 6px;
}

.btn-say-hello {
    background-color: white;
    color: #7562E0;
    margin-top: 25px;
}

.btn-say-hello:hover {
    color: #7562E0;
    box-shadow: 2px, 2px, 2px white;
}

/* ==== Footer ==== */